.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  transition: opacity 0.3s ease;
}

.modal-container {
  position: relative;
  width: 450px;
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-header h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #45A452;
  margin-top: 0.2rem;
}

.modal-body {
  margin-top: 2rem;
}

.modal-default-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  background-color: #B05E31;
  padding: 0.5rem 0.8rem;
}

.modal-enter-from {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

form {
  padding: 1rem;
}

label {
  display: block;
}

form input {
  border: 1px solid black;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 210px;
  height: max-content;
}

form button {
  margin-top: 0.2rem;
  font-size: 1rem;
  background-color: #42b983;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 140px;
}

form select {
  border: 1px solid black;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 210px;
}

p {
  visibility: hidden;
  font-size: 0.9rem;
  color: red;
}

.visible {
  visibility: visible;
}